name: Rust tests

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
  pull_request:

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  test:
    name: ${{ matrix.os }} / default
    runs-on: ${{ matrix.os || 'ubuntu-24.04' }}
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - macOS-14
          - windows-2022

    steps:
      - name: Check out repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install rust
        uses: dtolnay/rust-toolchain@efa25f7f19611383d5b0ccf2d1c8914531636bf9 # stable
        with:
          toolchain: stable

      - name: Cache cargo registry
        uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # v2.8.0

      - name: Test
        run: cargo test --workspace --all-features

      - name: Install cargo-llvm-cov
        if: ${{ matrix.os=='ubuntu-24.04' }}
        run: cargo install cargo-llvm-cov --version 0.5.38

      - name: Generate coverage
        if: ${{ matrix.os=='ubuntu-24.04' }}
        run: cargo llvm-cov --all-features --lcov --output-path lcov.info --ignore-filename-regex "crates/bitwarden-api-"

      - name: Upload to codecov.io
        if: ${{ matrix.os=='ubuntu-24.04' }}
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1

  ci-pass:
    name: Check if tests passed
    runs-on: ubuntu-24.04
    needs:
      - test
    steps:
      - name: Check if tests passed
        run: exit 0
